.categoryBlock {
    position: absolute;
    width: 30%;
}

.categoryBlock__list {
    list-style: none;
}

.categoryBlock__list li:nth-child(1) {
    border-top: 1px solid #262626;
}

.categoryBlock__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* or 99% */
    letter-spacing: 0.437238px;

    color: #FFFFFF;

    border-bottom: 1px solid #262626;
    padding: 3rem 0;
}

.categoryBlock__item > .arrow {
    margin-left: 2rem;
}