.blogSection {
    padding: 20rem 10rem 40rem 10rem;
    background-image: url('../../public/blog/blog-page-background.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.blogText {
    margin-bottom: 8rem;
}