.blogSection {
    padding: 20rem 10rem 40rem 10rem;
    background-image: url('https://res.cloudinary.com/driicwfjb/image/upload/v1677493281/blog-page-background_gpqmj3.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.blogText {
    margin-bottom: 8rem;
}