* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root, html[data-theme='dark'] {
    --font-sequel-sans: 'Sequel Sans', sans-serif;

    --background-color: #000000;
    --primary-heading-color: #ffffff;
    --secondary-color: #121212;
    --tertiary-color: #313131;
    --quaternary-color: #929292;

    --white-color: #ffffff;

    /* green accent color */
    --primary-accent-color: #C3FF93;

    /* Color code for button */
    --primary-button-color: #F5F5F5;
    /*
    border
    1px solid #C3FF93
    text
    #F5F5F5
    background
    black
    */
    --blog-background-color: #121212;


    --hero-background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url('../public/lines-white.svg');
}

html[data-theme='light'] {
    --background-color: #ABABAB;
    --primary-heading-color: #131313;
    --secondary-color: #404040;

    --blog-background-color: #C8C8C8;

    --primary-button-color: #131313;
    --hero-background: url('../public/lines-black.svg');
}

/*html.white-mode {*/
/*    --primary-text-color: "#000"*/
/*}*/

html {
    /* font-size: 10px; */

    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
    background: var(--background-color);
    /*cursor: none;*/
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;

    overflow-x: hidden;
}

.headingPrimary {
    font-size: 12.8rem;
    font-family: var(--font-sequel-sans);
    color: var(--primary-heading-color);
    line-height: 10rem;
    text-transform: uppercase;
}

.headingPrimary__description {
    font-size: 12.8rem;
    line-height: 12rem;
    font-family: var(--font-sequel-sans);
    color: var(--primary-heading-color);
    font-weight: 400;
}

.container {
    /* 1140px */
    /*max-width: 120rem;*/
    /*padding: 0 3.2rem;*/
    /*margin: 0 auto;*/
}

.primaryButton {
    border: 2px solid var(--primary-accent-color);
    border-radius: 4rem;
    text-align: center;
    color: var(--primary-button-color);
    padding: 0.5rem 2.0rem;
    font-size: 1.6rem;
    background-color: var(--background-color);
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}


/* ARROW Buttons */
.arrow {
    cursor: pointer;
    transform: rotate(-45deg);
    color: var(--primary-accent-color);
}

.arrowBtnPrimary {
    cursor: pointer;
    transform: rotate(-45deg);
    border: 1px solid var(--primary-accent-color);
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 2rem;
    color: var(--primary-accent-color);
}

.arrowBtnPrimary:hover {
    color: #000000;
    background: var(--primary-accent-color);
}

.arrowBtnSecondary {
    cursor: pointer;
    border: 1px solid var(--primary-accent-color);
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 2rem;
    color: var(--primary-accent-color);
}

.arrowBtnSecondary:hover {
    color: #000000;
    background: var(--primary-accent-color);
}

/*.customCursor {*/
/*    background-color: transparent;*/
/*    border:1px solid black;*/
/*    height:20px;*/
/*    width:20px;*/
/*    border-radius:50%;*/
/*    -moz-border-radius:50%;*/
/*    -webkit-border-radius:50%;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/
