.contactForm__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: translateX(50%)
}

.contactForm__input {
    margin: 1rem 0 1rem 0;
    padding: 1.5rem 0 1.5rem 0;
    background: var(--background-color);
    outline: 0;
    border-width: 0 0 1px 0;
    border-color: #848484;
    color: var(--white-color);
    font-weight: 300;
    font-size: 2rem;
}

.contactForm__input:focus {
    border-color: var(--primary-accent-color);
    transition: all 0.3s;
}

.contactForm__input::placeholder {
    color: var(--white-color);
    opacity: 1;
    font-size: 2rem;
    font-weight: 300;
}

.contactForm__button {
    margin-top: 1.5rem;
    padding: 1.5rem 5.4rem 1.5rem 5.4rem;
    background: var(--background-color);
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 1rem;
    width: 40%;
    transition: all 0.3s;
}

.contactForm__button:hover {
    border: 1px solid var(--primary-accent-color);
    color: var(--primary-accent-color);
}