.archivesBlock {
    display: grid;
}

.archivesBlock > :nth-child(odd) {
    justify-self: right;
    margin: 0;
    padding: 0;
}

.archivesBlock > :nth-child(even) {
    justify-self: left;
    margin-top: -15rem;
}

.archiveBlock {

}

.imageBlock {
    border: 3rem solid #C3FF93;
    border-radius: 2.2rem;
    background: #c3ff93;
}

.imageBlock__image {
    border-radius: 2.2rem;
}

.titleBlock {
    display: flex;
    align-items: center;
}

.titleBlock__title {
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    color: var(--primary-heading-color);
    margin-left: 3rem;
    padding-top: 1rem;
}