.postSection {
    margin: 10rem 0 20rem 0;
}

.postTitle {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    margin-bottom: 5.5rem;
    justify-content: start;
}

.postTitle__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: var(--white-color);
}

.postBackIcon {
    margin-right: 4.5rem;
}

.postContent {
    margin: 0 14rem;
    padding: 2.5rem 8rem 8rem 8rem;
    background: var(--blog-background-color);
    border: 1px solid var(--blog-background-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.postDetails {
    display: flex;
    align-self: flex-end;
    margin-bottom: 5rem;
}

.blogPost {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 30rem;
}

.blogPostCategory {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 148% */
    letter-spacing: 0.437238px;

    color: var(--primary-accent-color);
}


.blogPostDates {
    display: flex;
    align-items: center;
}

.blogPostDate {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;

    /* or 100% */
    letter-spacing: 0.437238px;

    color: var(--quaternary-color);
}


.blogPostViews {
    display: flex;
    align-items: center;
}

.blogPostViewsNumber {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;

    /* or 100% */
    letter-spacing: 0.437238px;

    color: #929292;
}